@import 'reset';

@import 'bourbon';
@import 'neat';
@import 'border-box';

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.container {
    @include outer-container(350px);
    border: 2px solid ##8CE8E1;
    padding: 2em;
    background-color: #962FE4;
    h3 {
        font-size: 1.5em;
        text-align: center;
        font-weight: bold;
        padding-bottom: 0.5em;
    }
}
.new-submission label, input, button {
    @include span-columns(12);
    padding: 10px 0;
}
.submit {
    @include button;
}
.phonenumber {
    margin-bottom: 2em;
}
